/*個別商品*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: inline;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 210px;
    border-radius: 10px;
}

.search {
    display: inline;
    margin-top: 15px;
    margin-right: 10px;
}

.index {
    display: inline;
    margin: 10px;
}

.cart {
    display: inline;
    margin: 15px 10px;
    
}

.link {
    color: black;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}

.Link {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}

.link:hover{
    background-color: green;
    color: white;
}

.Link:hover{
    background-color: yellowgreen;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.product-details img {
    max-width: 100%;
    height: auto;
}

.product-info {
    text-align: center;
}

.spe {
    margin: 15px 380px;
    text-align: left;
}

.back-button,
.add-to-cart {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-selector input {
    width: 50px;
    text-align: center;
    border: 2px solid black;
    margin: 0 5px;
}

.add-to-cart {
    margin-top: -15px;
    background-color: #0a690d;
}

.reviews {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.reviews form {
    margin-bottom: 20px;
    text-align: center;
}

.reviews h2 {
    text-align: center;
}

.reviews form input {
    width: 10%;
    margin: 10px 0px;
    padding: 10px;
}


.reviews form textarea {
    width: 30%;
    margin: 10px 0px;
    padding: 10px;
}

.reviews form input[type="submit"] {
    width: auto;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
}

#reviews-list {
    background-color: white;
    padding: 20px;
}

#reviews-list ul {
    list-style: none;
    padding: 0;
}

#reviews-list ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}